:root {
  --columny: 5;/* trzeba ilosc kolumn zmienic tu i w nth-child */
  --body_clr: #fbfbfb;
  --container_clr: #e0e0e0;
  --row_clr: #ff9747;
  --first_row_clr: #ff7000;
  --shadow_clr: #001f37;
}
.grid-item:nth-child(5n) {
  border-right: none;
}
body::-webkit-scrollbar {
  display: none;
}
body {
    background-color: var(--body_clr);
    margin-top: 50px;
    margin-bottom: 50px;
}
.madimi-one-regular {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.voces-regular {
  font-family: "Voces", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#tytul{
    font-family: "Voces", sans-serif;
    font-size: 60px;
    margin: 0;
    width: 90%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
#tytulText{
  background-color: var(--container_clr);
  padding: 20px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.container {
  z-index: 50;
    margin-left: auto;
    margin-right: auto;
    /* background-color: #011627; */
    background-color: var(--container_clr); 
    border-radius: 15px;
    width: 90%;
    padding: 40px;
    text-align: center;
    -webkit-box-shadow: 16px 16px 0px 5px var(--shadow_clr);
    -moz-box-shadow: 16px 16px 0px 5px var(--shadow_clr);
    box-shadow: 16px 16px 0px 5px var(--shadow_clr);
}
#grid-container {
    background-color: var(--row_clr);
    font-size: 30px;
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-columns: 2fr 2fr repeat(calc(var(--columny) - 2), 1fr); First two columns are twice as wide */
    /* Customize the number of rows as needed */
    /* grid-template-rows: repeat(3, 100px); Example: 3 rows each 100px tall */
    row-gap: 10px;
    border-radius: 20px;
  }
  .row-container{
    display: grid;
    grid-template-columns: 2fr 2fr repeat(calc(var(--columny) - 2), 1fr);;
  }
  .bar-row-container{
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--first_row_clr);
    border-bottom: #011627 solid 2px;
    border-top: #011627 solid 2px;
  }
  .row-container:first-child {
    font-size: 35px;
    background-color: var(--first_row_clr);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: #011627 solid 2px;
  }
  .grid-item {
    margin: 10px;
    padding-right: 10px;
    text-align: center;
    border-right: 2px solid black;
    font-family: "Voces", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .bar-row-container > .grid-item {
    border-right: 0;
  }
.logo {
  margin-bottom: 40px;
}